{
  "extends": ["eslint:recommended", "airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "ignorePatterns": ["*config/*", "OLDwebpack.config.js", "package-lock.json", "package.json"]
}
