<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X", libVersion: htmlWebpackPlugin.options.libVersion }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../../includes/header.html'))(data) %>
    </section>

    <section class="container">
      <h2>Old versions <small>(+ changelog)</small></h2>
    </section>

    <section class="container">
      <ul class="listOfOldVersions">
        <li>
          <h3><a href="/js/infinityScroll-1.9.3.js">1.9.3</a></h3>
          <p class="codeDescription">Working with scrollBars and safari</p>
          <ul>
            <li>Fixed the issue with non-working scroll insafari</li>
            <li>Added special styles for Chrome and Safari</li>
          </ul>
        </li>

        <li>
          <h3>1.9.2 <small>(n/a)</small></h3>
          <p class="codeDescription">(Partly fixed) problem, when you load data from IndexedDB too long and it's re-wrtite full-loaded data from remote server. Basicly, you had only part of data (from indexedDB) instead of full data (from remote server).</p>
        </li>

         <li>
          <h3><a href="/js/infinityScroll-1.9.1.js">1.9.1</a></h3>
          <p class="codeDescription">Build-related changes</p>
          <ul>
            <li>Add version to name of filelibrary </li>
            <li>Change webpack settings</li>
          </ul>
        </li>

        <li>

          <h3>1.9.0 (n/a)</a></h3>
          <p class="codeDescription">First test version</p>
        </li>
      </ul>
    </section>

  </body>
</html>
