$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size;
  color: $font-color;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  //color: green;
  font-weight: bold;
  //display: flex;
}

.infinityScrollWrp {
  height: 290px;
  overflow-y: scroll;
}

.infinityScroll {
  color: #333;
  //max-height: 290px;
  //padding: 20px 0 20px 30px;
  //margin: 5px 0;

  &__listItem {
    padding: 5px 10px;
    font-weight: normal;
    //transition: background-color 0.3s ease-in-out;

    &:hover {
      background: #eee;
    }
    &:before {
      content: attr(aria-posinset) ')';
    }
  }
}
