.infinityScroll {
  position: relative;
}

// TODO:   overflow-y (и возможно высоту) надо вынести в параметеры старта списка
.infinityScrollWrp {
  height: 290px;
  overflow-y: scroll;
}

.infinityScrollList {
  color: #333;

  &__listItem {
    padding: 5px 10px;
    font-weight: normal;
    //transition: background-color 0.3s ease-in-out;

    &:hover {
      background: #eee;
    }
    &:before {
      content: attr(aria-posinset) ')';
    }
  }
}

//.CurrentScrollPosition {
//  position: absolute;
//  width: calc(100% - 20px);
//  font-size: 40px;
//  text-align: center;
//  top: 0;
//  left: 0;
//  background-color: #ff00003b;
//  color: #444;
//  display: none;
//  flex-direction: column;
//  justify-content: center;
//
//  &.active {
//    display: flex;
//  }
//}
