$font-size: 1rem;
$font-color: #333;
$mb: 2rem;

:root {
  --mb: 4rem;
}

body {
  margin: 40px auto;
  background-color: aliceblue;
  font-family: monospace;
  font-size: 20px;
}

html {
  //font-family: Arial, Helvetica, sans-serif;
  //font-size: $font-size;
  //color: $font-color;
  //padding-bottom: 400px;
}

.middleWrapper {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

.vSrcollbar {
  position: absolute;
  //left: 50px;
  top: 0;
  right: 0px;
  //right: -10px;
  transform: translate(-16px, 0px);
  //transform: translate(-100%, 0px);
  //transform: translate(100%, 0px);
  width: 400px;
  height: 100%;
  overflow-y: scroll;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+20,80c217+20,80c217+20,94c14b+40,80c217+40,80c217+40,a7bc84+60,94c14b+60,7dba14+80,7cbc0a+100 */
  //background: linear-gradient(to bottom,  #777 2%, #9dd53a 2%, #9dd53a 20%, #6bab06 20%, #6bab06 40%, #a9be87 40%, #a9be87 60%, #80c217 60%, #80c217 80%, #9dd53a 80%, #9dd53a 95%, #777 95%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //
  //background: linear-gradient(to bottom,
  //        #777 2%,
  //        #9dd53a 2%, #9dd53a 20.6%,  /* 2% + 18.6% */
  //        #6bab06 20.6%, #6bab06 39.2%, /* 20.6% + 18.6% */
  //        #a9be87 39.2%, #a9be87 57.8%, /* 39.2% + 18.6% */
  //        #80c217 57.8%, #80c217 76.4%, /* 57.8% + 18.6% */
  //        #9dd53a 76.4%, #9dd53a 95%,  /* 76.4% + 18.6% */
  //        #777 95%);

  background-color: #5c637033;
}

.vScrollbarFiller {
  width: 10px;
  height: 10000000px;
  //background-color: red;

}

section {
  margin-bottom: 60px;
  padding: 0 15px;
}

section.container {
  width: 85%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

section > div {
  margin-bottom: 30px;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mainLogo {
  margin-bottom: var(--mb);
}

.pageTitle {
  text-transform: capitalize;
}

.codeDescription {
  margin-bottom: 10px;
}

.code {
  display: block;
  //white-space: pre;
  //padding: 1em;
  //overflow-x: scroll;
  border-radius: 6px;
  color: #fff;
  background: #000;
  margin-bottom: var(--mb);

  code {
    box-shadow: inset 0 0 10px 0px #000000;
    border-radius: inherit;
    border: 2px solid black;
  }
}

.attention {
  margin-top: calc(-1 * (var(--mb) - 4px));
}

.code + .attention {
  margin-bottom: var(--mb);
}

.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

//header {
//  margin-bottom: 50px;
//}

.mainMenu {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  gap: 40px;
  padding: 0;


  &__item {
    display: block;
  }
}