.REMOTE_LAZY_API_100ITEMS {
  color: #333;
  height: 600px;
  background-color: #fff;
  outline: 3px solid darkgray;

  &__listItem {
    font-weight: normal;
    border-radius: 4px;
    font-size: 18px;
    max-height: 72px;
    overflow: hidden;

    &:nth-child(2n) {
      background-color: #f7f7f7;
    }

    &:hover {
      background: #eee;
    }
    &:before {
      content: attr(aria-posinset) ') ';
    }

    &.big {
      padding: 15px 10px;
      font-size: 36px;
    }
  }
}
