.REMOTE_simple_API_100ITEMS {
  color: #333;

  &__listItem {
    padding: 5px 10px;
    font-weight: normal;
    //transition: background-color 0.3s ease-in-out;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: #eee;
    }
    &:before {
      content: attr(aria-posinset) ')';
    }
  }
}
