.REMOTE_LAZY_DUMMYJSON_API {
  color: #333;
  height: 310px;
}

.REMOTE_LAZY_DUMMYJSON_API_List {
  &__listItem {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: normal;

    &:hover {
      background: #eee;
    }
    &:before {
      content: attr(aria-posinset) ')';
    }

    &.big {
      padding: 15px 10px;
      font-size: 36px;
    }
  }
}
