/* Demo styles */

.SYNC_SIMPLE_100ITEMS_Border {
  position: relative;
  padding: 10px 0;
  border: 2px solid #444;
  border-radius: 8px;
  margin-bottom: 20px;
}

.SYNC_SIMPLE_100ITEMS_List {
  color: #555;
  margin: 0;

  &__listItem {
    padding: 8px 10px;
    font-weight: normal;
    border-radius: 4px;
    font-size: 18px;

    &:hover {
      background: #efefef;
    }
    &:before {
      content: attr(aria-posinset) ')';
    }
  }
}
