$font-size: 1rem;
$font-color: #333;
$mb: 2rem;

:root {
  --mb: 4rem;
}

body {
  margin: 40px auto;
  background-color: aliceblue;
  font-family: monospace;
  font-size: 20px;
}

html {
  //font-family: Arial, Helvetica, sans-serif;
  //font-size: $font-size;
  //color: $font-color;
  //padding-bottom: 400px;
}

section {
  margin-bottom: 60px;
  padding: 0 15px;
}

section.container {
  width: 85%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

section > div {
  margin-bottom: 30px;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mainLogo {
  margin-bottom: var(--mb);
}

.pageTitle {
  text-transform: capitalize;
}

.titleDescr {
  font-size: 16px;
}

.codeDescription {
  margin-bottom: 10px;
}

.code {
  display: block;
  //white-space: pre;
  //padding: 1em;
  //overflow-x: scroll;
  border-radius: 6px;
  color: #fff;
  background: #000;
  margin-bottom: var(--mb);

  code {
    box-shadow: inset 0 0 10px 0px #000000;
    border-radius: inherit;
    border: 2px solid black;
  }
}

.attention {
  margin-top: calc(-1 * (var(--mb) - 4px));
}

.code + .attention {
  margin-bottom: var(--mb);
}

.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

//header {
//  margin-bottom: 50px;
//}

.mainMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 0;


  &__item {
    display: block;
  }
}

.listOfDemoLink {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}

.demoLinkItem {
  //margin-bottom: 16px;
}

.demoLink {
  //display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px 24px;
  text-decoration: none;
  box-sizing: border-box;
  height: 100%;

  &:hover {
    background-color: #eee;
  }
}

.demoIcon {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 2px;
  margin-bottom: 6px;

  &_list:before {
    display: block;
    content: "";
    height: 100%;
    background: repeating-linear-gradient(
                    0deg,
                    transparent 1px,
                    transparent 3px,
                    #777 3px,
                    #777 5px,
                    transparent 5px,
                    transparent 7px,
                    #777 7px,
                    #777 9px,
                    transparent 9px,
                    transparent 11px,
                    #777 11px,
                    #777 13px,
                    transparent 13px,
                    transparent 15px,
                    #777 15px,
                    #777 17px
    );
  }

  &_noStyle {
    border: none;
  }

  &_table {
    background: repeating-linear-gradient(
                    90deg,
                    transparent 1px,
                    transparent 3px,
                    #777 3px,
                    #777 5px,
                    transparent 5px,
                    transparent 7px,
                    #777 7px,
                    #777 9px,
                    transparent 9px,
                    transparent 11px,
                    #777 11px,
                    #777 13px,
                    transparent 13px,
                    transparent 15px,
                    #777 15px,
                    #777 17px
    );
  }

  &_table:before {
    display: block;
    content: "";
    height: 100%;
    background: repeating-linear-gradient(
                    0deg,
                    transparent 1px,
                    transparent 3px,
                    #777 3px,
                    #777 5px,
                    transparent 5px,
                    transparent 7px,
                    #777 7px,
                    #777 9px,
                    transparent 9px,
                    transparent 11px,
                    #777 11px,
                    #777 13px,
                    transparent 13px,
                    transparent 15px,
                    #777 15px,
                    #777 17px
    );
  }

  &_lazy:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) -30%, rgb(255, 255, 255) 70%);
  }

  .remoteIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(11px, 6px);
    color: #676767;
    text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 4px white;
    font-size: 36px;
    line-height: 28px;
    border-bottom: 2px solid #676767;
    z-index: 2;
  }
}

.demoLinkAmount {
  display: block;
}