<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<!-- TODO: проверить как инжектилось раньше и понять почему скейчас стили инжектятся по другому-->

<!--<link rel="shortcut icon" href="favicon/favicon.png" />-->
<!--<link rel="stylesheet" href="css/style.bundle.css?nov27-1806" />-->
<% if (mode === 'production') {%>
<script src="/js/infinityScroll-<%= libVersion %>.js"></script>
<link rel="stylesheet" href="/styles/common.css" />
<link rel="stylesheet" href="/styles/<%= origName %>.css" />
<% } %>

<link rel="stylesheet" href="/assets/styles/hl/atom-one-dark.min.css" />
<link rel="stylesheet" href="/assets/styles/hl/nnfx-dark.min.css" />
<link rel="stylesheet" href="/assets/styles/hl/agate.min.css" />
<script src="/assets/js/hl/highlight.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
</script>

<title>Infinity Scroll - <%=title%></title>
