<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X", libVersion: htmlWebpackPlugin.options.libVersion }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../../includes/head.html'))(data) %>
    <link rel="stylesheet" href="/styles/local_simple_100items.css" />
    <link rel="stylesheet" href="/styles/remote_simple_500items.css" />
    <link rel="stylesheet" href="/styles/remote_simple_API_100items.css" />
    <link rel="stylesheet" href="/styles/remote_simple_15items_dummyjson_API.css" />
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../../includes/header.html'))(data) %>
    </section>



    <section class="container">
      <h2>All Demo test</h2>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/local_basic_10000items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/local_simple_100items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_500items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_api_100items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_15items_dummyjson_API.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_dummyjson_API.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_api.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_100items_table_iscrollAPI.html'))(data)
      %>


      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_5kk_items_table_iscrollAPI.html'))(data)
      %>


    </section>

    <% if (data.mode === 'development') {%>
    <script type="module">

        window.addEventListener('allDemosIsReadyToTest', function() {
            console.log('all demo is loaded')
            const allTestsResult = []

            window.iScroll.reduce(async (acc, iScroll) => {
                await acc;
                console.log('---------------------------------------');
                const results = await iScroll.test();
                allTestsResult.push(results);
                return Promise.resolve();
            }, Promise.resolve()).then(() => {
                console.clear();
                console.log('all demo is tested');
                console.log(allTestsResult);

                 sendReport(allTestsResult)
            });
        });


        function prepareReportData(report) {
            const date = new Date().toISOString();

            const currentVersion = '<%= data.libVersion %>'; // writed by webpack

            const dataErrors = report.map(entry => {
                const errors = [];

                // Map -> массив ошибок
                entry.errors.forEach((value, key) => {
                    value.forEach(msg => {
                        errors.push({ test: key, message: msg });
                    });
                });

                return {
                    listName: entry.listName,
                    errors: errors,
                };
            });

            return {
                version: currentVersion,
                publishedAt: date,
                device: report[0].device,
                data: dataErrors
            }
        }

        async function sendReport(report) {
            const ENDPOINT = (<%= _.template(require('html-loader!../../../../env_config.html'))() %>);

            const prepared = prepareReportData(report);

            console.log(prepared);

            const response = await fetch(ENDPOINT, {
                method: "POST",
                mode: "no-cors",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(prepared)
            });

            const t = await response.text();
            console.log("Данные отправлены, вот ответ: ");
            console.log(t);
        }



    </script>
    <% } %>

    <% if (data.mode === 'production') {%>
    <script type="module">
        import BigDataList10000 from '../assets/json/bigList10000.js'; // import mock data

        const BigJson1 = BigDataList10000.data;

        const LOCAL_BASIC_10000ITEMS_PROPS =  {
            data: BigJson1,
            selectorId: 'LOCAL_BASIC_10000ITEMS',
            listWrapperHeight: '350px',
            templateString: ({ item, idx }) => `<li>
            ${item.name} ${item.number} - ${idx}
    </li>`,
        };

        new InfinityScroll(LOCAL_BASIC_10000ITEMS_PROPS);

        import BigDataList100 from '../assets/json/bigList100.js'; // import mock data


        const BigJson100 = BigDataList100.data;

        const LOCAL_SIMPLE_100ITEMS_PROPS = {
            data: BigJson100,
            selectorId: 'LOCAL_SIMPLE_100ITEMS',
            templateString: ({ item, listLength, idx }) => `<li
          class="LOCAL_SIMPLE_100ITEMS_List__listItem" >
            ${item.name} ${item.number} <span>(order number ${idx} of ${listLength})</span>
    </li>`,
        };

        new InfinityScroll(LOCAL_SIMPLE_100ITEMS_PROPS);


        const REMOTE_SIMPLE_500ITEMS_PROPS = {
            data: 'https://jsonplaceholder.typicode.com/comments',
            selectorId: 'REMOTE_SIMPLE_500ITEMS',
            forcedListLength: 470,
            listWrapperHeight: '590px',
            templateString: ({ item, listLength, idx }) => `<li
          class="REMOTE_SIMPLE_500ITEMS_List__listItem"
          >
              <div class="listItemContainer">
               <p class="header"><em>User:</em> ${item.email} <span>(user.id - ${item.id})</span></p>
               <p class="descr"><em>Text:</em> ${item.body} </p>
             </div>
      </li>`
        };

        new InfinityScroll(REMOTE_SIMPLE_500ITEMS_PROPS);


        const REMOTE_SIMPLE_API_100ITEMS_PROPS = {
            data: `https://restapi.qoobeo.ru/api/v1/companys?start=5000&end=5100`,
            selectorId: 'REMOTE_SIMPLE_API_100ITEMS',
            listWrapperHeight: '490px',
            templateString: ({ item, listLength, idx }) => `<li
          class="REMOTE_SIMPLE_API_100ITEMS__listItem"
          >
              <div class="contentWrapper">
                <p class="title">
                  <em>Company:</em> ${item?.name}
                  <span>(${idx})</span>
                  </p>
                <p class="desc">
                  <em>website:</em> ${item?.website}  <em>(industry: ${item?.industry})</em>
                </p>

              </div>
      </li>`,
        };

        new InfinityScroll(REMOTE_SIMPLE_API_100ITEMS_PROPS);


        const REMOTE_SIMPLE_15ITEMS_DUMMYJSON_API_PROPS = {
            data: ({ start, end, page, limit }) =>
                `https://dummyjson.com/products?limit=${limit}&skip=${start}`,
            selectorId: 'REMOTE_SIMPLE_15ITEMS_DUMMYJSON_API',
            subDir: 'products',
            templateString: ({ item, templateCb }) => {
                const { thumbnail, title, brand, website, industry, reviews } = item;

                return `<li
        class="REMOTE_SIMPLE_15ITEMS_DUMMYJSON_API__listItem"
        >
            <div class="imgWrapper">
                <img src="${thumbnail}" alt="">
            </div>
            <div class="contentWrapper">

              <p class="title">
                ${title} <em>(${brand})</em>
                </p>
              <p class="desc">
                <em>website:</em> ${website}  <em>(industry: ${industry})</em>
              </p>

              <div class="reviewList">
              ${templateCb.reviewShower(reviews)}
              </div>

            </div>
    </li>`;
            },
            templateCb: {
                reviewShower(reviewsAray = [{}]) {
                    return reviewsAray
                        ?.map(
                            (el, i) => `<div class="review">
        <p>${el.reviewerName} <em>${el.reviewerEmail}</em> <strong>${el.rating} / 5</strong></p>
        <p>${el.comment}</p>
        <p><em>${el.date}</em></p>
</div>`
                        )
                        .join('');
                },
                anyOtherFunc() {},
            },
        };

        new InfinityScroll(REMOTE_SIMPLE_15ITEMS_DUMMYJSON_API_PROPS);
    </script>
    <% } %>
  </body>
</html>
