<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X", libVersion: htmlWebpackPlugin.options.libVersion }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../../includes/header.html'))(data) %>
    </section>



    <section class="container">
      <h2>All Demo test</h2>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/local_basic_10000items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/local_simple_100item.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_500items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_api_100items.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_15items_dummyjson_API.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_dummyjson_API.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_api.html'))(data)
      %>

      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_100items_table_iscrollAPI.html'))(data)
      %>


      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_lazy_5kk_items_table_iscrollAPI.html'))(data)
      %>


    </section>

    <script type="module">

        window.addEventListener('allDemosIsReadyToTest', function() {
            console.log('all demo is loaded')
            const allTestsResult = []

            window.iScroll.reduce(async (acc, iScroll) => {
                await acc;
                console.log('---------------------------------------');
                const results = await iScroll.test();
                allTestsResult.push(results);
                return Promise.resolve();
            }, Promise.resolve()).then(() => {
                console.clear();
                console.log('all demo is tested');
                console.log(allTestsResult);

                <% if (data.mode === 'development') {%>
                 sendReport(allTestsResult)
                 <% } %>
            });
        });

        <% if (data.mode === 'development') {%>
        function prepareReportData(report) {
            const date = new Date().toISOString();

            const currentVersion = '<%= data.libVersion %>'; // writed by webpack

            const dataErrors = report.map(entry => {
                const errors = [];

                // Map -> массив ошибок
                entry.errors.forEach((value, key) => {
                    value.forEach(msg => {
                        errors.push({ test: key, message: msg });
                    });
                });

                return {
                    listName: entry.listName,
                    errors: errors,
                };
            });

            return {
                version: currentVersion,
                publishedAt: date,
                device: report[0].device,
                data: dataErrors
            }
        }

        async function sendReport(report) {
            const ENDPOINT = (<%= _.template(require('html-loader!../../../../env_config.html'))() %>);

            const prepared = prepareReportData(report);

            console.log(prepared);

            const response = await fetch(ENDPOINT, {
                method: "POST",
                mode: "no-cors",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(prepared)
            });

            const t = await response.text();
            console.log("Данные отправлены, вот ответ: ");
            console.log(t);
        }

        <% } %>

    </script>

  </body>
</html>
