<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X", libVersion: htmlWebpackPlugin.options.libVersion }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../../includes/header.html'))(data) %>
    </section>

    <section class="container">
      <%=
      _.template(require('html-loader!./../../includes/demoLists/remote_simple_500items.html'))(data)
      %>
    </section>

    <section class="container">
      <h2>How to use it:</h2>
      <p class="codeDescription">
        <%=
        _.template(require('html-loader!./../../includes/demoDescriptions/whereDownLoadScript.html'))(data)
        %>
      </p>
      <p class="codeDescription">2. Put script to the head tag:</p>
      <pre class="code"><code class="language-html">
<%= escapeHtml(_.template(require('html-loader!./../../includes/demoDescriptions/howToIncludeScriptFile.html'))(data)) %>
      </code></pre>
      <p class="codeDescription">
        3. Place any tag with your unique ID into your html-code:
      </p>
      <pre class="code"><code class="language-html">
<%= escapeHtml(_.template(require('html-loader!./../../includes/demoLists/remote_simple_500items.html'))(data)) %>
      </code></pre>
      <p class="codeDescription">
        4. Configure list and start it by call new InfinityScroll(config):
      </p>
      <pre class="code"><code class="language-javascript">
&lt;script&gt;
  console.log('start: <%= data.title %> ');

  const REMOTE_SIMPLE_500ITEMS_PROPS = {
      data: 'https://jsonplaceholder.typicode.com/comments', // link to json (response from API)
      selectorId: 'REMOTE_SIMPLE_500ITEM',  // Container's ID
      templateString: (element, listLength, elemNum) => `&lt;li
        class="REMOTE_SIMPLE_500ITEM_List__listItem" &gt;
                ${element.email} ${element.id} (elemNum - ${elemNum})
    &lt;/li&gt;`,
  };

  new InfinityScroll(LOCAL_SIMPLE_100ITEMS_PROPS);
&lt;/script&gt;
      </code></pre>
      <p class="codeDescription">5. Add your styles:</p>
      <pre class="code"><code class="language-css">
.REMOTE_SIMPLE_500ITEM_List {
  color: #333;
}
.REMOTE_SIMPLE_500ITEM_List__listItem {
  padding: 5px 10px;
  font-weight: normal;
}
.REMOTE_SIMPLE_500ITEM_List__listItem:hover {
  background: #eee;
}
.REMOTE_SIMPLE_500ITEM_List__listItem:before {
  content: attr(aria-posinset) ')';
}
      </code></pre>
    </section>

    <section class="container">
      <%=
      _.template(require('html-loader!./../../includes/demoDescriptions/listSetupShort.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script>
      console.log('start: <%= data.title %> ');

      const REMOTE_SIMPLE_500ITEMS_PROPS = {
        data: 'https://jsonplaceholder.typicode.com/comments',
        selectorId: 'REMOTE_SIMPLE_500ITEM',
        templateString: (element, listLength, elemNum) => `<li
        class="REMOTE_SIMPLE_500ITEM_List__listItem"
        >
            ${element.email} ${element.id} (elemNum - ${elemNum})
    </li>`,
      };

      new InfinityScroll(REMOTE_SIMPLE_500ITEMS_PROPS);
    </script>
    <% } %>
  </body>
</html>
