<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/local_basic_10000items.html'))(data)
      %>
    </section>

    <section>
      <h2>How to use it:</h2>
      <p class="codeDescription">1. Put script to the head tag:</p>
      <pre class="code">
<script src="js/infinityScroll.bundle.js"></script> // like this, if you download this
<script src="https://iscroll.qoobeo.ru/js/infinityScroll.bundle.js"></script> // like this, if you don't want to download it
      </pre>
      <p class="codeDescription">
        2. Place any tag with your unique ID into your html-code:
      </p>
      <pre class="code">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoLists/local_basic_10000items.html'))(data)) %>
      </pre>
      <p class="codeDescription">
        3. Configure list and start it by call new InfinityScroll(config):
      </p>
      <pre class="code">
import BigDataList10000 from '../../mocks/bigList10000.json';

const BigJson1 = BigDataList10000.data;

const LOCAL_BASIC_10000ITEMS_PROPS = {
  data: BigJson1,
  selectorId: 'LOCAL_BASIC_10000ITEMS',
  listWrapperHeight: '350px',
  templateString: (element: object, listLength?: number): string => `&lt;li
              aria-setsize=&quot;${listLength}&quot;
              aria-posinset=&quot;${element.number + 1}&quot;
              class="your-class-name"
      &gt;
            ${element.name} ${element.number + 1}
    &lt;/li&gt;`,
};,

new InfinityScroll(LOCAL_BASIC_10000ITEMS_PROPS)
      </pre>
    </section>

    <section>
      <h2>Setup your list:</h2>
      <p>You need to configure only 4 required parameters:</p>
      <ol>
        <li>Data - link to your *.json file or simple js-array</li>
        <li>SelectorId - ID of tag, where list will be placed</li>
        <li>ListWrapperHeight - define height of your list</li>
        <li>
          TemplateString - your template. You can style your items adding only 1
          class to items
        </li>
      </ol>

      <p class="codeDescription">
        Use aria-attributes to set correct list-index for items: <br />
        - "aria-setsize" to set correct list length (because you don't have all
        element per time in a list) <br />
        - "aria-posinset" to set correct item index
      </p>
    </section>

    <% if (data.mode === 'production') {%>
    <script type="module">
      import BigDataList10000 from '../assets/json/bigList10000.js'; // import mock data

      console.log('start: <%= data.title %> ');

      const BigJson1 = BigDataList10000.data;

      const LOCAL_BASIC_10000ITEMS_PROPS = {
        data: BigJson1,
        selectorId: 'LOCAL_BASIC_10000ITEMS',
        listWrapperHeight: '350px',
        templateString: (element, listLength, number) => `<li>
            ${element.name} ${element.number} - ${number}
    </li>`,
      };

      new InfinityScroll(LOCAL_BASIC_10000ITEMS_PROPS);
    </script>
    <% } %>
  </body>
</html>
