<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/local_simple_100item.html'))(data)
      %>
    </section>

    <section>
      <h2>How to use it:</h2>
      <p class="codeDescription">
        <%=
        _.template(require('html-loader!./../includes/demoDescriptions/whereDownLoadScript.html'))(data)
        %>
      </p>
      <p class="codeDescription">2. Put script to the head tag:</p>
      <pre class="code">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoDescriptions/howToIncludeScriptFile.html'))(data)) %>
      </pre>
      <p class="codeDescription">
        3. Place any tag with your unique ID into your html-code:
      </p>
      <pre class="code">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoLists/local_simple_100item.html'))(data)) %>
      </pre>
      <p class="codeDescription">
        4. Configure list and start it by call new InfinityScroll(config):
      </p>
      <pre class="code">
&lt;script type="module"&gt;
  import BigDataList100 from '../assets/json/bigList100.js'; // import mock data

  console.log('start: <%= data.title %> ');

  const BigJson1 = BigDataList100.data;

  const LOCAL_SIMPLE_100ITEMS_PROPS = {
      data: BigJson1,
      selectorId: 'LOCAL_SIMPLE_100ITEMS',
      listWrapperHeight: '270px',
      templateString: (element, listLength, number) => `&lt;li
        class="LOCAL_SIMPLE_100ITEMS_List__listItem" &gt;
            ${element.name} ${element.number} - ${number}
    &lt;/li&gt;`,
  };

  new InfinityScroll(LOCAL_SIMPLE_100ITEMS_PROPS);
&lt;/script&gt;
      </pre>
      <p class="codeDescription">5. Add your styles:</p>
      <pre class="code"><code class="language-css">
.LOCAL_SIMPLE_100ITEMS_Border {
  position: relative;
  padding: 10px 0;
  border: 2px solid #444;
  border-radius: 8px;
  margin-bottom: 20px;
}
.LOCAL_SIMPLE_100ITEMS_List {
  color: #555;
  margin: 0;
}
.LOCAL_SIMPLE_100ITEMS_List__listItem {
  padding: 8px 10px;
  font-weight: normal;
  border-radius: 4px;
  font-size: 18px;
}
.LOCAL_SIMPLE_100ITEMS_List__listItem:hover {
  background: #efefef;
}
.LOCAL_SIMPLE_100ITEMS_List__listItem:before {
  content: attr(aria-posinset) ')';
}
      </code></pre>
    </section>

    <section>
      <%=
      _.template(require('html-loader!./../includes/demoDescriptions/listSetupShort.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script type="module">
      import BigDataList100 from '../assets/json/bigList100.js'; // import mock data

      console.log('start: <%= data.title %> ');

      const BigJson1 = BigDataList100.data;

      const LOCAL_SIMPLE_100ITEMS_PROPS = {
        data: BigJson1,
        selectorId: 'LOCAL_SIMPLE_100ITEMS',
        templateString: (element, listLength, number) => `<li
        class="LOCAL_SIMPLE_100ITEMS_List__listItem" >
            ${element.name} ${element.number} - ${number}
    </li>`,
      };

      new InfinityScroll(LOCAL_SIMPLE_100ITEMS_PROPS);
    </script>
    <% } %>
  </body>
</html>
