<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/remote_simple_500items.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script>
      console.log('start: <%= data.title %> ');

      const REMOTE_SIMPLE_500ITEMS_PROPS = {
        data: 'https://jsonplaceholder.typicode.com/comments',
        name: 'my REMOTE_SIMPLE_500ITEMS',
        selectorId: 'REMOTE_SIMPLE_500ITEM',
        listType: 'list',
        listWrapperHeight: '290px',
        templateString: (element, listLength, elemNum) => `<li
        class="REMOTE_SIMPLE_500ITEM_List__listItem"
        >
            ${element.email} ${element.id} (elemNum - ${elemNum})
    </li>`,
      };

      new InfinityScroll(REMOTE_SIMPLE_500ITEMS_PROPS);
    </script>
    <% } %>
  </body>
</html>
