<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/remote_simple_api_100items.html'))(data)
      %>
    </section>

    <section>
      <h2>How to use it:</h2>
      <p class="codeDescription">
        <%=
        _.template(require('html-loader!./../includes/demoDescriptions/whereDownLoadScript.html'))(data)
        %>
      </p>
      <p class="codeDescription">2. Put script to the head tag:</p>
      <pre class="code"><code class="language-html">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoDescriptions/howToIncludeScriptFile.html'))(data)) %>
      </code></pre>
      <p class="codeDescription">
        3. Place any tag with your unique ID into your html-code:
      </p>
      <pre class="code"><code class="language-html">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoLists/remote_simple_api_100items.html'))(data)) %>
      </code></pre>
      <p class="codeDescription">
        4. Configure list and start it by call new InfinityScroll(config):
      </p>
      <pre class="code"><code class="language-javascript">
&lt;script type="module"&gt;
  console.log('start: <%= data.title %> ');

  const REMOTE_SIMPLE_API_100ITEMS_PROPS = {
      data: `https://restapi.qoobeo.ru/api/v1/companys?start=1&end=100`, // link to json (response from API)
      selectorId: 'REMOTE_SIMPLE_API_100ITEMS', // Container's ID
      // listType: 'list',
      templateString: (element, listLength, elemNum) => `&lt;li
        class="REMOTE_simple_API_100ITEMS__listItem"&gt;
               ${element?.name} (elemNum - ${elemNum})
        &lt;/li&gt;`,
    };

  new InfinityScroll(LOCAL_SIMPLE_100ITEMS_PROPS);
&lt;/script&gt;
      </code></pre>
      <p class="codeDescription">5. Add your styles:</p>
      <pre class="code"><code class="language-css">
.REMOTE_simple_API_100ITEMS {
  color: #333;
}
.REMOTE_simple_API_100ITEMS__listItem {
  padding: 5px 10px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
}
.REMOTE_simple_API_100ITEMS__listItem:hover {
  background: #eee;
}
.REMOTE_simple_API_100ITEMS__listItem:before {
  content: attr(aria-posinset) ')';
}
      </code></pre>
    </section>

    <section>
      <%=
      _.template(require('html-loader!./../includes/demoDescriptions/listSetupShort.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script>
      console.log('start: <%= data.title %> ');

      const REMOTE_SIMPLE_API_100ITEMS_PROPS = {
        data: `https://restapi.qoobeo.ru/api/v1/companys?start=1&end=100`,
        selectorId: 'REMOTE_SIMPLE_API_100ITEMS',
        templateString: (element, listLength, elemNum) => `<li
        class="REMOTE_simple_API_100ITEMS__listItem"
        >
           ${element?.name} (elemNum - ${elemNum})
    </li>`,
      };

      new InfinityScroll(REMOTE_SIMPLE_API_100ITEMS_PROPS);
    </script>
    <% } %>
  </body>
</html>
