<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/remote_simple_api_100items.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script>
      console.log('start: <%= data.title %> ');

      const REMOTE_SIMPLE_API_100ITEMS_PROPS = {
        data: `https://restapi.qoobeo.ru/api/v1/companys?start=1&end=100`,
        name: 'my scroll list name',
        selectorId: 'REMOTE_SIMPLE_API_100ITEMS',
        listType: 'list',
        listWrapperHeight: '290px',
        templateString: (element, listLength, elemNum) => `<li
        class="REMOTE_simple_API_100ITEMS__listItem"
        >
           ${element?.name} (elemNum - ${elemNum})
    </li>`,
      };

      new InfinityScroll(REMOTE_SIMPLE_API_100ITEMS_PROPS);
    </script>
    <% } %>
  </body>
</html>
