<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/remote_lazy_api_100items.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script>
      console.log('start: <%= data.title %> ');

      const REMOTE_LAZY_API_PROPS_100ITEMS = {
        data: ({ start, end }) =>
          `https://restapi.qoobeo.ru/api/v1/companys?start=${start}&end=${end}`,
        selectorId: 'REMOTE_LAZY_API_100ITEMS',
        forcedListLength: 100,
        listWrapperHeight: '290px',
        templateString: (element, listLength, elemNum) => `<li
        class="REMOTE_LAZY_API__listItem"
        >
           ${element?.name} (elemNum - ${elemNum})
    </li>`,
      };

      new InfinityScroll(REMOTE_LAZY_API_PROPS_100ITEMS);
    </script>
    <% } %>
  </body>
</html>
