<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./../includes/header.html'))(data) %>
      <%=
      _.template(require('html-loader!./../includes/demoLists/remote_lazy_dummyjson_API.html'))(data)
      %>
    </section>

    <section>
      <h2>How to use it:</h2>
      <p class="codeDescription">
        <%=
        _.template(require('html-loader!./../includes/demoDescriptions/whereDownLoadScript.html'))(data)
        %>
      </p>
      <p class="codeDescription">2. Put script to the head tag:</p>
      <pre class="code"><code class="language-html">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoDescriptions/howToIncludeScriptFile.html'))(data)) %>
      </code></pre>
      <p class="codeDescription">
        3. Place any tag with your unique ID into your html-code:
      </p>
      <pre class="code"><code class="language-html">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoLists/remote_lazy_dummyjson_API.html'))(data)) %>
      </code></pre>
      <p class="codeDescription">
        4. Configure list and start it by call new InfinityScroll(config):
      </p>
      <pre class="code"><code class="language-javascript">
&lt;script type="module"&gt;
  console.log('start: <%= data.title %> ');

  const REMOTE_LAZY_DUMMYJSON_API_PROPS = {
  data: ({
    start,
    end,
    page,
    limit
  }) => `https://dummyjson.com/products?limit=${limit}&skip=${start}`,
  selectorId: 'REMOTE_LAZY_DUMMYJSON_API',
  subDir: 'products',
  templateString: (element, listLength) => `&lt;li
              class="REMOTE_LAZY_DUMMYJSON_API_List__listItem big" &gt;
            ${element?.id} ${element?.title}
    &lt;/li&gt;`,
};


  new InfinityScroll(REMOTE_LAZY_DUMMYJSON_API_PROPS);
&lt;/script&gt;
      </code></pre>
      <p class="codeDescription">5. Add your styles:</p>
      <pre class="code"><code class="language-css">
.REMOTE_LAZY_DUMMYJSON_API_List {
  color: #333;
}
.REMOTE_LAZY_DUMMYJSON_API_List__listItem {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: normal;
}
.REMOTE_LAZY_DUMMYJSON_API_List__listItem:hover {
  background: #eee;
}
.REMOTE_LAZY_DUMMYJSON_API_List__listItem:before {
  content: attr(aria-posinset) ')';
}
.REMOTE_LAZY_DUMMYJSON_API_List__listItem.big {
  padding: 15px 10px;
  font-size: 36px;
}
      </code></pre>
    </section>

    <section>
      <%=
      _.template(require('html-loader!./../includes/demoDescriptions/listSetupShort.html'))(data)
      %>
    </section>
    <% if (data.mode === 'production') {%>
    <script>
      console.log('start: <%= data.title %> ');

      const REMOTE_LAZY_DUMMYJSON_API_PROPS = {
        data: ({ start, end, page, limit }) =>
          `https://dummyjson.com/products?limit=${limit}&skip=${start}`,
        selectorId: 'REMOTE_LAZY_DUMMYJSON_API',
        subDir: 'products',
        templateString: (element, listLength) => `<li
           class="REMOTE_LAZY_DUMMYJSON_API_List__listItem big"
        >
            ${element?.id} ${element?.title}
    </li>`,
      };

      new InfinityScroll(REMOTE_LAZY_DUMMYJSON_API_PROPS);
    </script>
    <% } %>
  </body>
</html>
