<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <%= _.template(require('html-loader!./../includes/header.html'))(data) %>

    <section>
      <h2>Download:</h2>
      <p><%=
        _.template(require('html-loader!./../includes/demoDescriptions/whereDownLoadScript.html'))(data)
        %></p>
      <p>
        2. Or just connect it to your project like romete link
      <pre class="code">
<%= escapeHtml(_.template(require('html-loader!./../includes/demoDescriptions/howToIncludeScriptFile.html'))(data)) %>
      </pre>

      </p>


    </section>
  </body>
</html>
