<% var data = { title: htmlWebpackPlugin.options.title, origName:
htmlWebpackPlugin.options.origName, mode: htmlWebpackPlugin.options.mode,
author: "Danil X" }; %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require('html-loader!./../includes/head.html'))(data) %>
  </head>
  <body>
    <%= _.template(require('html-loader!./../includes/header.html'))(data) %>

    <section>
      <h2>What is it?</h2>

      <p class="codeDescription">
        This is a script to create really infinity scroll list (or another any
        scrollable entity). Unfortunately, web-browsers has limitation to show
        list of any height, so we have a limited presentation of list. This
        limit is 33554400px in height. But, working in progress and in version
        2.0 we will solve this problem!
      </p>
    </section>

    <section>
      <h2>Demo list</h2>

      <p>
        Legend: <br />
        - Local/Remote - place of data (local data or remote DB)<br />
        - Instant/Lazy - type of load data. Instant load all db to memory. Lazy
        laod only visible parts.
      </p>

      <ul class="listOfDemoLink">
        <li class="demoLinkItem">
          <a href="/demoList_local_basic_10000items.html" class="demoLink"
            >Basic demo - Local Instant List (10 000 items) without styles
          </a>
        </li>
        <li class="demoLinkItem">
          <a href="/demoList_local_simple_100item.html" class="demoLink"
            >Simple demo - Local Instant List (100 items) with styles</a
          >
        </li>
        <li class="demoLinkItem">
          <a href="/demoList_remote_simple_500item.html" class="demoLink"
            >Remote Instant List (500 items)</a
          >
        </li>

        <li class="demoLinkItem">
          <a href="/demoList_remote_simple_API_100items.html" class="demoLink"
            >Remote Instant Api List (100 items)</a
          >
        </li>

        <li class="demoLinkItem">
          <a href="/demoList_remote_lazy_API.html" class="demoLink"
            >Remote Lazy Api List (17 000 000+ items)</a
          >
        </li>

        <li class="demoLinkItem">
          <a href="/demoList_remote_lazy_API_100items.html" class="demoLink"
            >Remote Lazy Api List (100 items)</a
          >
        </li>

        <li class="demoLinkItem">
          <a href="/demoList_remote_lazy_dummyjson_API.html" class="demoLink"
            >Remote Lazy DummyJSON Api List with subdir (~200 items)</a
          >
        </li>
      </ul>
    </section>

    <section>
      <h2>How to use it:</h2>

      <p class="codeDescription">Types of config:</p>
      <pre class="code">
const REMOTE_LAZY_000ITEMS_PROPS = {
  data: object[] | DataURLType;
  selectorId: string;
  templateString: (
      element: { [key: string]: unknown },
      listLength?: number,
      elemNum?: number
    ) => string;
  listWrapperHeight?: string;
  forcedListLength?: number;
  listType?: 'list' | 'table' | 'div';
  subDir?: string;

};

new InfinityScroll(REMOTE_LAZY_000ITEMS_PROPS);
      </pre>
    </section>

    <section>
      <h2>Demo example:</h2>

      <p class="codeDescription">Description in progress:</p>
      <pre class="code">
const REMOTE_LAZY_000ITEMS_PROPS = {
  data: (start, end) =>
    `http://localhost:3000/data?_start=${start}&_end=${end}`,
  selectorId: 'REMOTE_LAZY_000ITEM',
  forcedListLength: 500,
  listType: 'list',
  listWrapperHeight: '290px',
  templateString: (element: object, listLength?: number): string => `&lt;li class=&quot;REMOTE_LAZY_000ITEM_List__listItem big&quot; &gt;
            ${element?.number} ${element?.name}
    &lt;/li&gt;`,
};

new InfinityScroll(REMOTE_LAZY_000ITEMS_PROPS);
      </pre>
    </section>
  </body>
</html>
