<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Infinity Scroll - <%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./html/includes/header.html'))(data)
      %>
      <img src="./assets/images/torin.gif" alt="" />
      <!--   работает-->
      <p><%= htmlWebpackPlugin.options.info %></p>

      <ul class="listOfDemoLink">
        <li class="demoLinkItem">
          <a href="/demoList_sync_simple_100item.html" class="demoLink"
            >Sync List (100 items)</a
          >
        </li>
      </ul>

      <%= _.template(require('html-loader!./html/includes/list.html'))(data) %>
    </section>
  </body>
</html>
