<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Infinity Scroll - <%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section class="container">
      <%= _.template(require('html-loader!./html/includes/header.html'))(data)
      %>
      <img src="./assets/images/torin.gif" alt="" />
      <!--   работает-->
      <p><%= htmlWebpackPlugin.options.info %></p>

      <ul class="listOfDemoLink">
        <li class="demoLinkItem">
          <a href="/demoList_local_simple_100item.html" class="demoLink"
            >Local Instant List (100 items)</a
          >
        </li>
        <li class="demoLinkItem">
          <a href="/demoList_remote_simple_500item.html" class="demoLink"
            >Remote Instant List (500 items)</a
          >
        </li>
      </ul>

      <%=
      _.template(require('html-loader!./html/includes/demoLists/remote_lazy_000items.html'))(data)
      %>
    </section>
  </body>
</html>
